auto_push.py
WallMesh_autogen
CMakeFiles
build
.qt
CMakeCache.txt
cmake_install.cmake
Makefile
build-win.sh
build-win
Naqrah.elf
Naqrah_autogen
Naqrah
target
gen
auto_commit.shnaqrah
naqrah
naqrah-release.keystore
keystore_base64.txt